.islamics-attars {
    width: 100%;
}

.islamics-attars-dev {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

@media screen and (max-width:1150px) {
    .islamics-attars-dev {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: auto;
    }
}

@media screen and (max-width:650px) {
    .islamics-attars-dev {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: auto;
    }
}

@media screen and (max-width:400px) {
    .islamics-attars-dev {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: auto;
    }
}

@media screen and (max-width:930px) {
    .islamics-attars {
        margin-left: 0;
    }
}