.islamic-product-dev {
    max-width: 200px;
    height: 310px;
    padding: 10px;
    margin: auto !important;
    position: relative;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: .4s;
    position: relative;
    background-color: white;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* .cart1 {
    transition: all 0.3s ease-out;
}


.cart1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.cart1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #ffd06a;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}
.cart1:hover::before {
    transform: scale(21);
} */



.islamic-product-dev img {
    transition: .6s;
}

.islamic-product-dev:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transform: scale(1.001);
}

.islamic-product-dev:hover img {
    transform: scale(1.1);
}

.islamic-product-dev-h6 {
    cursor: pointer;
    color: rgb(97, 97, 97);
    font-weight: 600;
    font-family: "Times New Roman";
}

.islamic-product-dev-p {
    color: rgb(255, 102, 0);
    font-weight: bold;
}



.islamic-product-add-to-cart {
    display: none;
    /*  position: absolute; */
    /*  right: 26.5%; */
    /*  bottom:10px; */
    transition: .4s;
}

.islamic-product-add-to-cart button {
    border: none;
    border-radius: 50px;
    padding: 2px 15px;
    color: white;
    background-color: rgb(255, 94, 0);
    transition: .4s;
}

.islamic-product-dev:hover .islamic-product-add-to-cart {
    display: block;
    transition: .4s;
}
@media screen and (max-width:500px) {
    .islamic-product-dev{
        max-width: 177px;
        height: 295px;
        padding: 10px;
        margin: auto !important;
        position: relative;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        transition: .4s;
        position: relative;
    }
}

/* @media screen and (max-width:1399px) {
    .product-dev img{
        height: 250px;
        width: 240px;
    }
}
@media screen and (max-width:1150px) {
    .product-dev img{
        height: 240px;
    }
} */