.main-pro-pic {
  font-size: 50px;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

@media screen and (min-width:730px) {
  .dashboard {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width:729px) {
  .dashboard {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width:479px) {
  .dashboard {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
  }

  .dashboard-item {
    width: 140px !important;
    height: 110px !important;
    padding: 20px !important;
  }
  .dashboard-item-font {
    background-color: rgb(212, 224, 250);
    padding: 12px !important;
    border-radius: 50px;
    font-size: 15px !important;
  }
}

.dashboard-item-font {}

.dashboard-item {
  /* margin: auto;  */
  width: 220px;
  height: 180px;
  border-radius: 5px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: .4s;
}

.dashboard-item:hover {
  color: rgb(255, 166, 1);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.dashboard-item-dev {
  display: flex;
  justify-content: center;
}

.dashboard-item-font {
  background-color: rgb(212, 224, 250);
  padding: 17px;
  border-radius: 50px;
  font-size: 20px;
}

.dashboard-logout {
  color: black;
}

.dashboard-logout:hover {
  color: rgb(255, 166, 1);
}