
.newArrival-dev{
    padding: 30px 15px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}
@media screen and (min-width:1400px) {
    .newArrival-dev{
        padding: 30px 15px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(225, 225, 225, 0.4) 5px 5px, rgba(210, 210, 210, 0.3) 10px 10px, rgba(210, 210, 210, 0.2) 15px 15px, rgba(180, 180, 180, 0.1) 20px 20px, rgba(197, 197, 197, 0.05) 25px 25px;
    }
}