.mobile-sideber {
    flex-shrink: 0;
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow: auto;
    color: #000000;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mobile-sideber::-webkit-scrollbar {
    display: none;
}

.mobileSideberItem {
    padding: .50em 1em; 
    display: block;
    transition: background-color .15s;
    border-radius: 0px;
}

.mobileSideberItem:hover {
    background-color: rgba(203, 227, 255, 0.171);
}

.mobileSideber-title {
    display: flex;
    font-size: 1em;
    justify-content: space-between;
}

.mobileSideber-title span i {
    display: inline-block;
    width: 1.5em;
}

.mobileSideber-title .mSideber-toggle-btn {
    cursor: pointer;
    padding: 0 3px;
    transition: transform .3s;
}

.mobileSideberItem.mSOpen>.mobileSideber-title .mSideber-toggle-btn {
    transform: rotate(180deg);
}

.mobileSidebar-content {
    height: 0;
    overflow: hidden;
}

.mobileSideberItem.mSOpen>.mobileSidebar-content {
    height: auto;
}

.mobileSideberItem.mSPlain {
    color: #000000;
    text-decoration: none;
}

.mobileSideberItem.mSPlain {
    text-decoration: none;
}

.mobileSideberItem.mSPlain i {
    display: inline-block;
    width: 1.7em;
}