.admin-bg-color{
    background-image: linear-gradient(rgb(237, 247, 252), rgb(237, 241, 255), rgb(247, 238, 255));
  }
  .admin-dev1-bg-color{
    background-color: white;
  }
  .admin-sideber-main{
    display: flex;
    grid-template-columns: 350px auto;
    grid-gap: 20px;
  }