
.blog{
    max-width: 400px;
    max-height: 500px;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.blog img{
    border-radius: 3px 3px 0 0;
}