
.homefeaturedCategore-title{
    position: relative;
}
.homefeaturedCategore-title::before{
    content: "";
    position: absolute;
    width: 97px;
    height: 2.5px;
    left: 0px;
    top: 33px;
    background: rgb(255, 115, 0);
}
.homefeaturedCategore{
    display: grid;
    grid-gap: 9px;
    grid-template-columns: repeat(8, 1fr);
}
@media screen and (max-width:1100px) {
    .homefeaturedCategore{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}
.homefeaturedCategore-dev{
    padding: 5px;
    background-color: aliceblue;
}

.homefeaturedCategore-dev > div > img{
    width: 120px;
    height: 120px;
}

.homefeaturedCategore-dev1{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .5px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev2{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev3{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev4{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev5{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev6{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev7{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev8{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .5px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev9{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev10{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev11{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev12{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev13{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev14{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev15{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
.homefeaturedCategore-dev16{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    border-left: .0px solid gray;
    border-right: .5px solid gray;
}
