.attars-dev {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
@media screen and (max-width:1150px){
    .attars-dev {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: auto;
    }
}
@media screen and (max-width:800px){
    .attars-dev {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: auto;
    }
}