/*  strart main category */
.homeHeaders>ul {
    position: relative;
    margin: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.homeHeaders>ul>li {
    list-style-type: none;
    width: 270px;
    background-color: rgb(255, 255, 255);
    padding: 0 15px;
}

.homeHeadersMainCategoreDev {
    display: flex;
    align-items: center;
    padding: 7.5px 0;
    color: gray;
    transition: .3s;
    font-weight: 500;
    font-family: serif;
}

.homeHeadersMainCategoreDev:hover {
    color: rgb(255, 119, 0);
}

.homeHeadersMainCategoreDev:not(.mainCategoryBorderNot) {
    border-bottom: 1px solid rgb(227, 227, 227);
}

.homeHeadersMainCategoreImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    padding-right: 8px;
}

.homeHeadersMainCategoreFaChevronRight {
    position: absolute;
    right: 15px;
    font-size: 13px;
}

/* end main category */

/* start category ---------------------- */
.homeHeadersCategoryDev {
    position: absolute;
    left: 270px;
    top: 0px;
    height: 400px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.homeHeadersCategoryDev>ul {
    list-style-type: none;
    padding: 0;
}

.homeHeadersCategoryDevItem {
    display: none;
    width: 250px;
    padding: 8px 15px;
    background-color: rgb(255, 255, 255);
    transition: .3s;
    cursor: pointer;
    font-weight: 600;
    font-family: serif;
    color: gray;
}

.homeHeadersCategoreFaChevronRight {
    position: absolute;
    right: 15px;
    font-size: 13px;
}

.homeHeadersCategoryDevItem:hover {
    display: flex;
    align-items: center;
    color: rgb(255, 119, 0);
    background-color: rgb(230, 230, 230);
}

.homeHeaders>ul>li:hover .homeHeadersCategoryDevItem {
    display: block;
}

/* End category ------------------- */

/* start sub category item ----------------------- */
.homeHeadersSubCategoryDev {
    position: absolute;
    display: none;
    left: 250px;
    top: 0px;
    font-weight: 600;
    font-family: serif;
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.homeHeadersSubCategoryDev>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.homeHeadersSubCategoryDevItem {
    width: 250px;
    padding: 8px 15px;
    background-color: rgb(255, 255, 255);
    color: gray;
    transition: .3s;
}

.homeHeadersSubCategoryDevItem:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(255, 119, 0);
}

.homeHeadersCategoryDev>ul>li:hover .homeHeadersSubCategoryDev {
    display: block;
}

/* end sub categroy itrgb(219, 219, 219)----------- */

/* start responsive home header ----------------- */
@media screen and (max-width:1399px) {
    .homeHeaders>ul>li {
        width: 240px;
    }

    .homeHeadersCategoryDev {
        left: 240px;
    }
}

@media screen and (max-width:1199px) {
    .homeHeaders>ul>li {
        width: 200px;
    }

    .homeHeadersCategoryDev {
        position: absolute;
        left: 200px;
    }
}

@media screen and (max-width:930px) {
    .homeHeaders>ul>li {
        display: none;
    }
}

/* end responsive home header------------------ */