.sideberItem {
    padding: .75em 1em;
    display: block;
    transition: background-color .15s;
    border-radius: 5px;
}

.sideberItem:hover {
    background-color: rgb(255, 223, 223);
}

.sideber-title {
    display: flex;
    /* font-size: 1.5em; */
    justify-content: space-between;
}

.sideber-title span i {
    display: inline-block;
    width: 27px;
}
.sideber-title .sideberToggle-btn{
    cursor: pointer;
    transition: transform .3s;
}
.sideberItem.sideberOpen > .sideber-title .sideberToggle-btn{
    transform: rotate(90deg);
}
.sideberitem-content{
    height: 0;
    overflow: hidden;
}

.sideberItem.sideberOpen > .sideberitem-content{
    height: auto; 
}
.sideberItem.plain{
    color: #fff;
    text-decoration: none;
}
.sideberItem.plain:hover{
    text-decoration: underline;
}
.sideberItem.plain i {
    display: inline-block;
    width: 1.7em;
    
}