
@media screen and (min-width:501px) {
    .bottemHeader{
        display: none;
    }
}
@media screen and  (max-width:500px) {
    .bottemHeader{
        overflow: hidden;
        height: 45px;
        width: 100%;
        background-color: rgb(224, 238, 255);
        color: rgb(212, 230, 255);
        bottom: 0;
        box-shadow: rgb(5, 0, 0) 0px 1px 0px, rgba(117, 117, 117, 0.726) 10px 2px 8px;
    }
    .bottemHeader-dev{
        margin-top: 2px;
        height: 45px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 13px;
    }
    .header-buttom-btn{
        color: rgb(255, 151, 55) !important;
        text-decoration: none;
    }
    .header-buttom-btn:active{
        color: aliceblue !important;
    }
    
    .bottemHeader-dev div{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .bottemHeader-dev div p {
        font-size: 12px;
    }
    .header-buttom-cart-quantity{
        color: rgb(230, 230, 230);
        font-size: 16px;
    }
}