/* ---------- Header Part 1 -------------- */

.header-shadow{
    transition: .4s;
    background-color: rgb(244, 250, 255);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.masud{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-p1-ul {
    display: flex;
}

.header-p1-ul li {
    padding: 15px;
    font-weight: bold;
    color: gray;
}