/* ---------- Header Part 1 -------------- */

.header-shadow {
    transition: .4s;
    background-color: rgb(244, 250, 255);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding: 0;
}

.header-p1-ul {
    display: flex;
}

.header-p1-ul li {
    padding: 15px;
    font-weight: bold;
    color: gray;
}

/* ----------- header part 2 ------------- */
.header-part2 {
    background-color: rgb(255, 145, 0);
}

.header-part2-dev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header2-catagories {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 12px;
    width: 270px;
    cursor: pointer;
}
.header2-catagories:hover{
    color: orange;
    transition: .3s;
}
.caretdowncircle{
    border: .1rem solid white;
    border-radius: 50%;
    padding: 1.5px 4px;
}
.header2-catagories .caretdowncircle:hover{
    border: .1rem solid orange;
}
.header2-catagories h6{
    margin-top: .4rem;
}
.search-ber {
    border-radius: 50px;
    height: 35px;
    width: 70vh;
    border: none;
}

.search input {
    padding: 10px;
}

.search-ber:hover {}

.shopping-cart {
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 17px;
}

.shopping-cart:hover {
    cursor: pointer;
    color: rgb(255, 136, 0);
    -webkit-box-shadow: 0px 1px 11px 3px rgba(255, 252, 255, 1);
    -moz-box-shadow: 0px 1px 11px 3px rgba(255, 252, 255, 1);
    box-shadow: 0px 1px 11px 3px rgba(255, 252, 255, 1);
    transition: .4s;
}

/* ------------- Header All Catagore--------- */
.header-all-catagore{
    background-color: rgb(250, 251, 253);
    width: 270px;
    border-radius: 0 0 3px 3px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.header-all-catagore li{
    position: relative;
    font-weight: bold;
    color: gray;
    cursor: pointer;
    list-style-type: none;
    padding: 10px 0px;
    border-top: 1px solid rgb(201, 201, 201);
}
.header-all-catagore li:hover{
    color: rgb(255, 136, 0);
    transition: .3s;
}
.tatagore-icon-chevronright{
    position: absolute;
    right: 0;
    font-size: 12px;
   margin-top: 5px;
    
}
.catagore-icon{
    padding-right: 7px;
}