.sidebar{
  width: 270px;
  flex-shrink: 0;
  height: 100%;
  overflow: auto;
  border-radius: 2px;
  border: 1px solid rgb(226, 226, 226);
}

.nestedCategore-title{
  display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(80, 80, 80);
    background-color: aliceblue;
    margin: 0;
    height: 46px;
    border-radius:2px 2px 0 0 ;
}

@media screen and (max-width:1399px){
  .sidebar{
    width: 240px;
  }
}
@media screen and (max-width:1199px) {
  .sidebar{
    width: 200px;
  }
}
@media screen and (max-width:930px) {
  .sidebar{
    display: none;
  }
}