
.mHeaderSideberItem{
    padding: .2em 1em;
    display: block;
    transition: background-color .15s;
}
.mHeaderSideberItem:hover{
    background-color: rgb(226, 226, 226);
}
.mHeaderSideberItem-title{
    display: flex;
    font-size: 1em;
    justify-content: space-between;
}
.mHeaderSideberItem-title span .mHeaderSideberItem-icon{
    display: inline-block;
    width: 1.5em;
}
.mHeaderSideberItem-title .mHeaderSideberItem-toggle-btn{
    cursor: pointer;
    transition: fransform .3s;
}
.mHeaderSideberItem.msideberOpen .mHeaderSideberItem-title .mHeaderSideberItem-toggle-btn{
    transform: rotate(180deg);
}
.mHeaderSideberItem-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
}
.mHeaderSideberItem.msideberOpen .mHeaderSideberItem-content{
    height: auto;
}