
.mHeaderCatagore{
    position: fixed;
    height: 100%;
    width: 200px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.mHeaderCatagoreUl{
    padding: 0;
    list-style-type: none; 
}
.mHeaderCatagoreUl > li {
    padding:8px 0 8px 0;
    border-bottom: 1px solid rgb(238, 238, 238);
}
/* .mHeaderCatagoreUlLi::before{
    margin-top: 20px;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(158, 103, 31);
    bottom: 2px;
    left: auto;
} */
/* .mHeaderCatagoreUlLi::after{
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 2px;
    background-color: aqua;
    bottom: 0;
} */
.mHeaderCatagoreBtn{
    width: 100%;
    border: none;
    background-color: rgb(238, 28, 0);
    border-radius: 4px;
}