
.banner{
    display: flex;
}
.banner-slide img{
    height: 400px;
}
.banner-right-img img{
    height: 200px;
    width: 250px;
}
@media screen and (max-width:1399px) {
    .banner-slide img{
        height: 400px;
        width: 620px;
    }
    .banner-right-img img{
        height: 200px;
        width: 250px;
    }
}
@media screen and (max-width:1199px) {
    .banner-slide img{
        height: 400px;
        width: 620px;
    }
    .banner-right-img img{
        height: 200px;
        width: 250px;
    }
}