.banner {
    display: flex;
}

.banner-slide {
    width: 75%;
    height: 400px;
}

@media screen and (max-width:800px) {
    .banner-slide {
        width: 100%;
    }
}

.banner-right {
    height: 400px;
    width: 25%;
}

.carousel-item-size {
    height: 400px;
}

.carousel-item-size-img {
    height: 400px;
    width: 100%;
}

.banner-right-child-dev-img {
    height: 200px;

}

@media screen and (max-width:800px) {
    .banner {
        display: block;
    }

    .banner-right {
        height: auto;
        width: 50%;
    }

    /* .banner-right img {
        height: 220px;
    } */

    .banner-right-child-dev {
        display: flex;
    }
}

@media screen and (max-width:500px) {
    .banner-slide {
        height: 300px;
    }

    .carousel-item-size {
        height: 300px;
    }

    .carousel-item-size-img {
        height: 300px;
        width: 100%;
    }
    .banner-right-child-dev-img{
        height:150px;
    }

}

@media screen and (max-width:400px) {
    .banner-slide {
        height: 230px;
    }

    .carousel-item-size {
        height: 230px;
    }

    .carousel-item-size-img {
        height: 230px;
        width: 100%;
    }
}



/* 
@media screen and (max-width:1399px) {
    .banner-slide img{
        height: 400px;
        width: 660px;
    }
    .banner-right-img img{
        height: 200px;
        width: 240px;
    }
}
@media screen and (max-width:1199px) {
    .banner-slide img{
        height: 400px;
        width: 550px;
    }
    .banner-right-img img{
        height: 200px;
        width: 210px;
    }
}
@media screen and (max-width:991px) {
    .banner-slide img{
        height: 400px;
        width: 570px;
    }
    .banner-right-img img{
        height: 200px;
        width: 220px;
    }
}
@media screen and (max-width:971px) {
    .banner-slide img{
        height: 400px;
        width: 560px;
    }
    .banner-right-img img{
        height: 200px;
        width: 210px;
    }
}
@media screen and (max-width:951px) {
    .banner-slide img{
        height: 400px;
        width: 550px;
    }
    .banner-right-img img{
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width:931px) {
    .banner-slide img{
        height: 400px;
        width: 540px;
    }
    .banner-right-img img{
        height: 200px;
        width: 190px;
    }
}
@media screen and (max-width:930px) {
    .banner-slide img{
        height: 400px;
        width: 670px;
    }
    .banner-right-img img{
        height: 200px;
        width: 260px;
    }
}


*/